body {
    background: -webkit-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
    background: -moz-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
    background: -ms-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
    background: -o-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
    background: linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
    padding: 3%;
    height: 94%;
 }

.container { /* lined paper effect */
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 6px 5px 4px 42px;
    position: relative;
    color: #444;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    width: 816px;
}

.container::before { /* vertical double line on paper */
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

.btn {
    background-color: rgb(204, 51, 31);
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 40ms;
}

.btn:hover {
    background-color: white;
    color: rgb(204, 51, 31);
    border: 2px solid rgb(204, 51, 31);
    padding: 13px 30px;
}

.radioButton-wrap input[type="radio"] {
    display: none;
}

.radioButton-wrap {
    position: relative;
    text-align: center;
    top: 50%;
    margin-top: -2.5em;
    @media (max-width: $small) {margin-top: -1.5em;}
  }
  
.radio-label {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    color: $dark;
    border-radius: 0.25em;
    background: $light;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    user-select: none;
    h1 {
        font-size: 1em;
        font-family: $font-stack;
    }
    &:hover {
        background: darken($light, 10%);
        color: darken($dark, 10%);
        box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
    }
    &:active {
        transform: translateY(2px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
    }
    @media (max-width: $small) {
        padding: 0em 1em 3px;
        margin: 0.25em;
    }
}
