svg {
    // position: relative;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background: #fff;
    display: block;
    margin: 0 auto;
}
rect {
    position: relative;
    fill: rgb(61, 59, 197);
    stroke-width: 1px;
    stroke:#fff;
}